USE [master]
GO
/****** Object:  Database [WardrobeMVC3]    Script Date: 5/19/2017 1:46:50 PM ******/
CREATE DATABASE [WardrobeMVC3]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WardrobeMVC3', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeMVC3.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WardrobeMVC3_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\WardrobeMVC3_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WardrobeMVC3].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WardrobeMVC3]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 5/19/2017 1:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorsID] [int] IDENTITY(1,1) NOT NULL,
	[Color] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Colors] PRIMARY KEY CLUSTERED 
(
	[ColorsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Items]    Script Date: 5/19/2017 1:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Items](
	[ItemsID] [int] IDENTITY(1,1) NOT NULL,
	[Item] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[ItemsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Occasions]    Script Date: 5/19/2017 1:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Occasions](
	[OccasionsID] [int] IDENTITY(1,1) NOT NULL,
	[Occasion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Occasions] PRIMARY KEY CLUSTERED 
(
	[OccasionsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Seasons]    Script Date: 5/19/2017 1:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Seasons](
	[SeasonsID] [int] IDENTITY(1,1) NOT NULL,
	[Season] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Seasons] PRIMARY KEY CLUSTERED 
(
	[SeasonsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Wardrobe]    Script Date: 5/19/2017 1:46:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Wardrobe](
	[WardrobeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[ColorsID] [int] NOT NULL,
	[ItemsID] [int] NOT NULL,
	[OccasionsID] [int] NOT NULL,
	[SeasonsID] [int] NOT NULL,
	[Photo] [image] NULL,
 CONSTRAINT [PK_Wardrobe] PRIMARY KEY CLUSTERED 
(
	[WardrobeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Wardrobe]  WITH CHECK ADD  CONSTRAINT [FK_Wardrobe_Colors] FOREIGN KEY([ColorsID])
REFERENCES [dbo].[Colors] ([ColorsID])
GO
ALTER TABLE [dbo].[Wardrobe] CHECK CONSTRAINT [FK_Wardrobe_Colors]
GO
ALTER TABLE [dbo].[Wardrobe]  WITH CHECK ADD  CONSTRAINT [FK_Wardrobe_Items] FOREIGN KEY([ItemsID])
REFERENCES [dbo].[Items] ([ItemsID])
GO
ALTER TABLE [dbo].[Wardrobe] CHECK CONSTRAINT [FK_Wardrobe_Items]
GO
ALTER TABLE [dbo].[Wardrobe]  WITH CHECK ADD  CONSTRAINT [FK_Wardrobe_Occasions] FOREIGN KEY([OccasionsID])
REFERENCES [dbo].[Occasions] ([OccasionsID])
GO
ALTER TABLE [dbo].[Wardrobe] CHECK CONSTRAINT [FK_Wardrobe_Occasions]
GO
ALTER TABLE [dbo].[Wardrobe]  WITH CHECK ADD  CONSTRAINT [FK_Wardrobe_Seasons] FOREIGN KEY([SeasonsID])
REFERENCES [dbo].[Seasons] ([SeasonsID])
GO
ALTER TABLE [dbo].[Wardrobe] CHECK CONSTRAINT [FK_Wardrobe_Seasons]
GO
USE [master]
GO
